@{
    ViewData["Title"] = "Pakalpojumi";
}

<div class="container p-4">
    <div class="row text-center">
        <div class="col-lg-6 p-3">
            <a asp-action="GuestHouses">
                <img class="w-50 rounded media-img" src="Content/Images/placeholder.jpg" />
                <p class="">Brīvdienu mājas</p>
            </a>
        </div>
        <div class="col-lg-6 p-3">
            <a asp-action="Activities">
                <img class="w-50 rounded media-img" src="Content/Images/placeholder.jpg" />
                <p>Izklaide</p>
            </a>
        </div>
    </div>
</div>

