html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;

}

.bg {
    background-image: url("/Content/Images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    .bg::before {
        opacity: 0.1;
    }

@media(max-width: 100px) {
    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}


.media-img:hover {
    transform: scale(1.05);
    transition: transform .2s;
}