@{
    ViewData["Title"] = "Izklaide";
}

<div class="container p-4">
    <div class="row text-center">
        <div class="col-lg-4 p-3">
            <a asp-action="Fishing">
                <img class="w-75 rounded media-img" src="/Content/Images/placeholder.jpg" />
                <p class="">Makšķerēšana</p>
            </a>
        </div>
        <div class="col-lg-4 p-3">
            <a asp-action="SUPRent">
                <img class="w-75 rounded media-img" src="/Content/Images/placeholder.jpg" />
                <p>SUP dēlis</p>
            </a>
        </div>
        <div class="col-lg-4 p-3">
            <a asp-action="RowingBoat">
                <img class="w-75 rounded media-img" src="/Content/Images/placeholder.jpg" />
                <p>Airu laiva</p>
            </a>
        </div>
    </div>

