@{
    ViewData["Title"] = "Brīvdienu mājas";
}

<div class="container p-4">
    <div class="row text-center">
        <div class="col-md-6 p-3">
            <a asp-action="GuestHousePaula">
                <img class="w-75 rounded media-img" src="/Content/Images/housePaula.jpeg" />
                <p class="">Māja "Paula"</p>
            </a>
        </div>
        <div class="col-md-6 p-3">
            <a asp-action="GuestHouseAmelija">
                <img class="w-75 rounded media-img" src="/Content/Images/houseAmelija.jpeg" />
                <p>Māja "Amēlija"</p>
            </a>
        </div>
    </div>

