@{
    ViewData["Title"] = "Par mums";
}

<div class="container p-4">
    <p class="">
        Šis latgales nostūrītis ar mums ir saistīts jau sen, jo Viraudas ezera krasts saimniekam Jānim ir bērnības sēta un to iemīlējusi visa ģimene.
        <br />
        Mēs atrodamies Rāznas nacionālā parka teritorijā, līdzās mežiem, ezeriem, kalniem, līdzenumiem un sirsnīgiem kaimiņiem.
        <br />
        Tieši skaistā atrašanās vieta mudinājusi ar to iepazīstināt ne tikai radus un draugus, bet arī vēl nepazīstamus ceļotājus, kā rezultātā ir tapusi šī miera osta.
        <br />
        Atbrauc un ieskaties, kā zied pļava, ieklausies, kā skan putnu balsis un piedzīvo saules rietu.
        <br />
        Atbrauc un iemīli Latgali...
    </p>
</div>

