@{
    ViewData["Title"] = "Brīvdienu māja - Paula";
}

<div class="container p-4">
    <div class="row">
        <div class="col-lg-8">
            <h1>
                Māja "Paula"
            </h1>
            <h5>
                €0.00
            </h5>
        </div>
        <div class="col-lg-8">
            Māja "Paula" savu nosaukumu ieguvusi pateicoties saimnieka vecākajai mazmeitai. Divstāvīga ēka ar skatu uz ezeru, terasi, balkonu un četrām istabām,
            kur kopā iespēja izmitināt 10 personas. Viesu ērtībai pieejama apkure; sauna, āra virtuve, WiFi un autostāvvieta.
            <br />
            Visas guļamistabas atrodas ēkas otrajā stāvā.
            <br />
            <br />
            <b>
                Guļamistaba Nr. 1 ērtības:
            </b>
            <ul style="list-style-type:none;">
                <li>
                    Privāta vannas istaba ar dušu un tualeti,
                </li>
                <li>
                    Dvieļi,
                </li>
                <li>
                    Gultas veļa,
                </li>
                <li>
                    Kontaktligzda pie gultas.
                </li>
            </ul>
            <b>
                Guļamistaba Nr. 2 ērtības:
            </b>
            <br />
            <ul style="list-style-type:none;">
                <li>
                    Gultas veļa,
                </li>
                <li>
                    Kontaktligzda pie gultas.
                </li>
            </ul>
            <b>
                Guļamistaba Nr. 3 (caurstaigājama) ērtības:
            </b>
            <ul style="list-style-type:none;">
                <li>
                    Gultas veļa,
                </li>
                <li>
                    Kontaktligzda pie gultas,
                </li>
                <li>
                    Izeja uz balkona.
                </li>
            </ul>
            Atpūtas istaba, sauna, vannas istaba ar dušu un labierīcības atrodas ēkas pirmajā stāvā.
            <b>
                Atpūtas istabas ērtības:
            </b>
            <ul style="list-style-type:none;">
                <li>
                    Dīvāns,
                </li>
                <li>
                    LCD televizors,
                </li>
                <li>
                    Pusdienu galds,
                </li>
                <li>
                    Radio.
                </li>
            </ul>
            <b>
                Saunas ērtības:
            </b>
            <ul style="list-style-type:none;">
                <li>
                    Dvieļi,
                </li>
                <li>
                    Saunas cepurītes,
                </li>
                <li>
                    Koka paliktņi,
                </li>
                <li>
                    Fēns,
                </li>
                <li>
                    Dīvāns,
                </li>
                <li>
                    Spogulis,
                </li>
                <li>
                    Ugunsdzēšamais aparāts.
                </li>
            </ul>
            <b>
                Āra virtuves ērtības:
            </b>
            <ul style="list-style-type:none;">
                <li>
                    Virtuves piederumi,
                </li>
                <li>
                    Grils,
                </li>
                <li>
                    Grila aprīkojums.
                </li>
            </ul>
            <br />
            <br />
            <br />


            Par papildu samaksu - 2 papildvietas; kubls; peldošo pirti (ja cits nav rezervējis)
            <br />
            Telpās aizliegta atklāta liesma un smēķēšana
        </div>
        <div class="col-lg-4">
            <img class="w-100 rounded" src="/Content/Images/placeholder.jpg" />
        </div>

    </div>
</div>

